* {
    margin: 0;
    padding-right: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}


/* MOBILE FIRST   */
.container {
    width: 100%;
    padding: 0 20px;
    background-color: rgb(240, 239, 239);
}


/* HEADER  */
.header {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: 'Nerko One';
    color: rgb(252, 150, 23);
}

/* MAIN  */
/* prima sezione  */

.titolo-nascosto {
    display: none;
}

.first-section {
    padding: 20px 0;
}

.title {
    color: rgb(117, 26, 117);
    padding: 10px 0;
}

/* .col-1 {} */

.col-2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.first-list {
    list-style: none;
    padding: 0;
    margin-top: 20px
}

li {
    margin: 10px 0;
}

/* SEZIONE SOCIAL  */
.social-list span {
    display: none;
    color: black;
    font-size: 10px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    gap: 5px;
    align-items: center;
    margin: auto;
}

.social-list li {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
}

.fb {
    color: rgb(0, 0, 255);
    padding: 5px;
}

.tw {
    color: rgb(135, 206, 235);
    padding: 5px;
}

.ig {
    color: rgb(255, 0, 255);
    padding: 5px;
}

.pint,
.yt {
    color: rgb(255, 0, 0);
    padding: 5px;
}




/* BANNER  */
.banner {
    display: none;
    padding: 20px 0;
}

/* PRESENTATION SECTION  */
.presentation-title {
    padding: 10px 0;
}


hr {
    width: 20%;
    border-top: 2px solid rgb(252, 150, 23);
    margin: 5px 0;
}

.tiramisu-img {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    padding:5px 20px;
    
}
 


/* FOOTER  */
/* .footer {
    background-color: rgb(117, 26, 117);
    color: rgb(255, 255, 255);
    padding: 15px 0;
    font-size: 0.7rem;
    font-weight: 300;
    
}

.last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding-bottom: 10px;
}

.footer-list {
    list-style: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
} */

/* .col-right a {
    color: inherit;
} */
